.container {
  border: 1px solid lightgray;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--card-bg);
}

.title {
  font-weight: bold;
  color: var(--text-primary);
}

.authors {
  color: var(--text-primary);
}
