.container {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  background-color: var(--background-secondary);
  border-bottom: 1px solid lightgray;
  padding: 0px 24px 0px 24px;
  box-sizing: border-box;
  z-index: 2;
}

.main {
  margin-top: 100px;
}

.spacer {
  flex: 1;
}

.title {
  font-weight: bold;
  color: var(--text-primary);
  font-size: 44px;
  margin: 0px;
}
